# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
a.out
# Extra after configure
Makefile
.deps
Sim_disk
config.log
config.status
m2s
m2s-fast
m2s-objdump
guestos
configfile
.cproject
.project
autom4te.cache/*
